@{
    ViewData["Title"] = "Contact";
}

<div id="contact" class="contact-area">
    <div class="contact-inner area-padding">
        <div class="contact-overly">
            <div class="container">
                <br />
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>Nuestros datos de contacto</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="contact-icon text-center">
                            <div class="single-icon">
                                <i class="fa fa-mobile"></i>
                                <p>
                                    Celular: 3145474025 <br />
                                    <span>Lunes - Viernes (9am-5pm)</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="contact-icon text-center">
                            <div class="single-icon">
                                <i class="fa fa-envelope-o"></i>
                                <p>
                                    Correo: ditero@hotmail.com <br />
                                    <span>Web: www.tumac.com</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="contact-icon text-center">
                            <div class="single-icon">
                                <i class="fa fa-map-marker"></i>
                                <p>
                                    Localización: Distrito de San Andres de Tumaco  <br />
                                    <span>Barrio Ciudadela / Frente a la UDENAR</span>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.87771987811!2d-78.78609178524543!3d1.787091298696971!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e2cfd9ad7e93d49%3A0xb8ba33a709deac41!2sInstitucion+Educativa+Ciudadela+Tumac!5e0!3m2!1ses!2sco!4v1564609981804!5m2!1ses!2sco" width="550" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form contact-form">
                            <div id="sendmessage">Tu mensaje ha sido enviado. ¡Gracias!</div>
                            <div id="errormessage"></div>
                            <form action="mailto:ditero225@gmail.com" method="post" role="form" class="contact-form">
                                
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Su Nombre" data-rule="minlen:4" data-msg="Por favor ingrese al menos 4 caracteres" />
                                    <div class="validation"></div>
                                </div>

                                <div class="form-group">
                                    <input type="email"  class="form-control" name="email" id="email" placeholder="Su correo" data-rule="email" data-msg="Por favor introduzca una dirección de correo electrónico válida" />
                                    <div class="validation"></div>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Por favor ingrese al menos 8 caracteres de tema" />
                                    <div class="validation"></div>
                                </div>

                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Por favor escribe algo para nosotros" placeholder="Message"></textarea>
                                    <div class="validation"></div>
                                </div>

                                <div class="text-center"><button type="submit">Enviar Mensage</button></div> 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>