
@{
    ViewData["Title"] = "Instalación";
}

<div id="portfolio" class="portfolio-area area-padding fix">
    <div class="container">
        <br />

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>Instalaciones</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="awesome-project-1 fix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="awesome-menu ">
                        <ul class="project-menu">
                            <li>
                                <a href="#" class="active" data-filter="*">Comedor</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".development">Auditorio</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".design">Aula de Informatica</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".photo">Biblioteca</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="awesome-project-content">
                <div class="col-md-4 col-sm-4 col-xs-12 design development">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a><img src="~/images/Instalación/1.jpg" alt="" /></a>
                            <div class="add-actions text-center">
                                <div class="project-dec">
                                    <a class="venobox" data-gall="myGallery" href="~/images/Instalación/1.jpg">
                                        <h4>Entrada</h4>
                                        <span>Blandit dapibus duis placerat ullamcorper vel, interdum venenatis eget libero potenti, justo gravida fringilla nascetu</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 photo">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a><img src="~/images/Instalación/2.jpg" /></a>
                            <div class="add-actions text-center">
                                <div class="project-dec">
                                    <a class="venobox" data-gall="myGallery" href="~/images/Instalación/2.jpg">
                                        <h4>Aulas</h4>
                                        <span>Blandit dapibus duis placerat ullamcorper vel, interdum venenatis eget libero potenti, justo gravida fringilla nascetu</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 photo">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a><img src="~/images/Instalación/3.jpg" /></a>
                            <div class="add-actions text-center">
                                <div class="project-dec">
                                    <a class="venobox" data-gall="myGallery" href="~/images/Instalación/3.jpg">
                                        <h4>Aula de Informatica</h4>
                                        <span>Blandit dapibus duis placerat ullamcorper vel, interdum venenatis eget libero potenti, justo gravida fringilla nascetu</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 photo">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a><img src="~/images/Instalación/4.jpg" /></a>
                            <div class="add-actions text-center">
                                <div class="project-dec">
                                    <a class="venobox" data-gall="myGallery" href="~/images/Instalación/4.jpg">
                                        <h4>Auditorio</h4>
                                        <span>Blandit dapibus duis placerat ullamcorper vel, interdum venenatis eget libero potenti, justo gravida fringilla nascetu</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 photo">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a><img src="~/images/Instalación/5.jpg" /></a>
                            <div class="add-actions text-center">
                                <div class="project-dec">
                                    <a class="venobox" data-gall="myGallery" href="~/images/Instalación/5.jpg">
                                        <h4>Biblioteca</h4>
                                        <span>Blandit dapibus duis placerat ullamcorper vel, interdum venenatis eget libero potenti, justo gravida fringilla nascetu</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 photo">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a><img src="~/images/Instalación/6.jpg" /></a>
                            <div class="add-actions text-center">
                                <div class="project-dec">
                                    <a class="venobox" data-gall="myGallery" href="~/images/Instalación/6.jpg">
                                        <h4>Patios</h4>
                                        <span>Blandit dapibus duis placerat ullamcorper vel, interdum venenatis eget libero potenti, justo gravida fringilla nascetu</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--Inicio de Prueba-->

                <div class="col-md-4 col-sm-4 col-xs-12 photo">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a><img src="~/images/Instalación/1.jpg" /></a>
                            <div class="add-actions text-center">
                                <div class="project-dec">
                                    <a class="venobox" data-gall="myGallery" href="~/images/Instalación/1.jpg">
                                        <h4>Area Administrativa</h4>
                                        <span>Blandit dapibus duis placerat ullamcorper vel, interdum venenatis eget libero potenti, justo gravida fringilla nascetu</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 photo">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a><img src="~/images/Instalación/3.jpg" /></a>
                            <div class="add-actions text-center">
                                <div class="project-dec">
                                    <a class="venobox" data-gall="myGallery" href="~/images/Instalación/3.jpg">
                                        <h4>Comedor</h4>
                                        <span>Blandit dapibus duis placerat ullamcorper vel, interdum venenatis eget libero potenti, justo gravida fringilla nascetu</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 photo">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a><img src="~/images/Instalación/4.jpg" /></a>
                            <div class="add-actions text-center">
                                <div class="project-dec">
                                    <a class="venobox" data-gall="myGallery" href="~/images/Instalación/4.jpg">
                                        <h4>Cancha de Futbol</h4>
                                        <span>Blandit dapibus duis placerat ullamcorper vel, interdum venenatis eget libero potenti, justo gravida fringilla nascetu</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Fin de Prueba-->


            </div>

        </div>
    </div>
</div>