
@{
    ViewData["Title"] = "Mision";
}
<style type="text/css">
    html {
        background-image: url('../../wwwroot/images/fondo/background-photo.jpg');
    }
</style>


<body>
    <div class="faq-area area-padding">
        <div class="container">
            <br />
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Misión, Visión y Valores</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="faq-details">
                        <div class="panel-group" id="accordion">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="check-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#check1">
                                            <span class="acc-icons"></span>Responsabilidad
                                        </a>
                                    </h4>
                                </div>

                                <div id="check1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>
                                            Cumplimiento eficiente y oportuno de los deberes y obligaciones y
                                            el desfrute racional de todos los derechos capacidad para reconocer y hacerse cargo de las consecuencias
                                            de las propias acciones.
                                        </p>
                                    </div>
                                </div>
                            </div>


                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="check-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#check2">
                                            <span class="acc-icons"></span>Amor
                                        </a>
                                    </h4>
                                </div>

                                <div id="check2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Afecto profundo y sincero que sentimos por el otro que nos hace trascender “Con amor vale la
                                            pena vivir”
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="check-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#check3">
                                            <span class="acc-icons"></span>Respeto
                                        </a>
                                    </h4>
                                </div>

                                <div id="check3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Es acatar las diferentes formas de ser, pensar de las personas. Recordar que los derechos de
                                            cada quien termina donde empieza de los demás.
                                        </p>
                                    </div>
                                </div>
                            </div>


                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="check-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#check4">
                                            <span class="acc-icons"></span>Honestidad
                                        </a>
                                    </h4>
                                </div>

                                <div id="check4" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Es tomar solamente lo que nos pertenece, respeto a las ideas, a los bienes, el trabajo.
                                            Ser honesto es buen negocio porque asegura la confianza
                                        </p>
                                    </div>
                                </div>
                            </div>


                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="check-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#check5">
                                            <span class="acc-icons"></span>Tolerancia
                                        </a>
                                    </h4>
                                </div>

                                <div id="check5" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Es aceptar a cada uno como es y amarlo, darle ternura, darle afecto, respetarlo, valorarlo
                                            en su dimensión como ser humano.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="check-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#check6">
                                            <span class="acc-icons"></span>Justicia
                                        </a>
                                    </h4>
                                </div>

                                <div id="check6" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Es verdad y es amor, es trabajar para que todos tengan oportunidad de desarrollarse,
                                            educarse, trabajar, recrearse, ser protegido y vivir bien. Lo que debe hacerse según el derecho o razón.
                                            Virtud de dar a cada uno lo que le corresponde o pertenece
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="check-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#check7">
                                            <span class="acc-icons"></span>Gratitud
                                        </a>
                                    </h4>
                                </div>

                                <div id="check7" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Es reconocer, dar, ser reciproco con lo que recibimos, esto nos conlleva a alcanzar la
                                            plenitud en nuestra vida personal: la gratitud y el reconocimiento son los mejores regalos que puedan
                                            recibir las personas en cualquier época y lugar del mundo.
                                        </p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="tab-menu">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active">
                                <a href="#p-view-1" role="tab" data-toggle="tab">MISIÓN</a>
                            </li>
                            <li>
                                <a href="#p-view-2" role="tab" data-toggle="tab">VISIÓN</a>
                            </li>
                            <li>
                                <a href="#p-view-3" role="tab" data-toggle="tab">FILOSOFIA</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="p-view-1">
                            <div class="tab-inner">
                                <div class="event-content head-team">
                                    <h4>MISIÓN</h4>
                                    <p>
                                        La Institución Ciudadela Educativa Tumac, garantiza y ofrece una educación a niños,
                                        jóvenes y adultos en todos los niveles; fundamentada en un currículo con prospectiva: científica, ética,
                                        tecnológica, cultural y deportiva que le permita liderar su propio proyecto de vida, con principios morales,
                                        éticos, sociales capaz de desempeñarse con dignidad en cualquier ámbito laboral y social
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="p-view-2">
                            <div class="tab-inner">
                                <div class="event-content head-team">
                                    <h4>VISIÓN</h4>
                                    <p>
                                        La Institución Ciudadela Educativa Tumac, en el 2019 será la propuesta en Educación
                                        Preescolar, Básica y Media Vocacional, más completa y atractiva, en los ámbitos local, regional y nacional
                                        por: Su Responsabilidad social, La calidad de su programación académica e innovación en los procesos de
                                        aprendizajes, Su modelo pedagógico centrado en el estudiante, La formación integral en todos los campos
                                        del conocimiento, El desarrollo y aplicación de digitalización y virtualización en los procesos de
                                        aprendizajes.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="p-view-3">
                            <div class="tab-inner">
                                <div class="event-content head-team">
                                    <h4>FILOSOFIA</h4>
                                    <p>
                                        La Institución Educativa Tumac, busca que los estudiantes alcancen una formación
                                        integral y humanizada para su buen desarrollo, teniendo en cuenta su autonomía para que así les permita
                                        llegar a una verdadera reflexión frente al cambio y en su proceso educativo para luego proyectarse en su
                                        vida social.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

